backend/node_modules/
backend/yarn.lock
backend/yarn-error.log
backend/.env
backend/uploads/

frontend/node_modules/
frontend/yarn.lock
frontend/yarn-error.log

instarocket/node_modules/
instarocket/yarn.lock
instarocket/yarn-error.log